.boton {
  display: inline-block;
  background: $grisOscuro;
  color: $blanco;
  padding: 15px; 
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.boton--derecha {
  float: right;
}

.boton:hover {
  background: $rojo;
}