.separador {
  border: none;
  height: 1px;
  background: #c8cacb;
  margin: 30px 100px 0 100px;
  @media screen and (max-width: 1300px) {
    margin: 20px 0 10px 0;
  }
}

.separador--oscuro {
  background: #494e51;
}

.separador--ancho {
  margin: 20px 0;
}