.grid {
  display: grid;
}

.grid--3col {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4col {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5col {
  grid-template-columns: repeat(5, 1fr);
}

.grid--alturaFila275 {
  grid-template-rows: 275px;
}

.grid--comunidad {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 185px);
}

.grid__item {
  height: 100%;
  width: 100%;
}

.grid__item--1col {
  grid-column-end: span 1;
}

.grid__item--2col {
  grid-column-end: span 2;
}

.grid__item--3col {
  grid-column-end: span 3;
}
.grid__item--4col {
  grid-column-end: span 4;
}

.grid__item--1fil {
  grid-row-end: span 1;
}

.grid__item--2fil {
  grid-row-end: span 2;
}

.grid__item--3fil {
  grid-row-end: span 3;
}
.grid__item--4fil {
  grid-row-end: span 4;
}