.menu {
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
}

.menu__item {
  padding: 5px 15px;
  display: inline-block;
  cursor: pointer;
}

.menu__item:hover {
  color: $rojo;
}

.menu__separador {
  padding: 5px 15px;
  display: inline-block;
}