.menu {
  list-style-type: none;
  margin: 0;
  padding: 20px 0;
}

.menu__item {
  padding: 0 15px 0 0;
  display: inline-block;
  cursor: pointer;
}

.menu__item:hover {
  color: $rojo;
}

.menu__separador {
  padding: 0 15px 0 0;
  display: inline-block;
}