.asistente {
  padding: 0 100px;
}

.asistente__contenedor {
  width: 100%;
  display: grid;
  grid-template-rows: 270px;
  grid-template-areas: "comparador comparador accesorios servicios-financieros localizador-de-centros";
}