.hero {
  position: relative;
}

.hero__imagen {
  display: block;
  width: 100%;
}

.hero__titulo {
  position: absolute;
  bottom: 0;
  font-size: 50px;
  color: $blanco;
  padding: 40px;
  font-weight: 400;
}