.asistencia--comparador {
  grid-area: comparador;
}

.asistencia--accesorios {
  grid-area: accesorios;
}

.asistencia--serviciosFinancieros {
  grid-area: servicios-financieros;
}

.asistencia--localizadorDeCentros {
  grid-area: localizador-de-centros;
}

.asistencia__imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
}